<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/gardifybackend</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/gardifybackend</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ImportConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GardifyModels.Models.ImportContext, GardifyModels" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="nfilesEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GardifyModels.Models.nfilesEntities, GardifyModels" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GardifyModels.Models.ApplicationDbContext" Order="3" Enabled="True">
          <Destination Path="Data Source=.\SQL2014;Initial Catalog=pflanzenApp08;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=.\SQL2014;Initial Catalog=pflanzenApp08;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GardifyModels.Models.ApplicationDbContext, GardifyModels" MigrationConfiguration="GardifyWebAPI.Migrations.Configuration, GardifyModels" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="Data Source=.\SQL2014;Initial Catalog=pflanzenApp08;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=.\SQL2014;Initial Catalog=pflanzenApp08;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQL2014;Initial Catalog=pflanzenApp08;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=.\SQL2014;initial catalog=pflanzenApp08;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="elmah-sqlserver" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQL2014;Initial Catalog=pflanzenApp08;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\elmah-sqlserver_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=.\SQL2014;initial catalog=pflanzenApp08;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)elmah-sqlserver-Web.config Connection String" />
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>data source=.\SQL2014;initial catalog=pflanzenApp08;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GardifyModels.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2014;Initial Catalog=pflanzenApp08;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ImportConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)nfilesEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="GardifyModels.Models.ApplicationDbContext" />
    <_ConnectionStringsToInsert Include="ImportConnection" />
  </ItemGroup>
</Project>