<div class="wrapper {{mode}} {{mode === 'light'? 'text-blackish' : 'text-white'}}">
    <div class="container pt-3 pb-5">
      <div class="row mt-5 mb-4">
          <div class="col-12">
              <h2 class="t-light t-26 {{mode === 'light'? 'text-grey' : 'text-white'}}">WIDERRUFSBELEHRUNG</h2>
          </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3 class="col-12 t-bold t-14 text-green m-0 py-2 bt-border {{mode}}">Widerrufsrecht</h3>
          <p>Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen.</p>
          <p>
            Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die Waren (oder die letzte Ware oder die letzte Teilsendung oder das letzte Stück im Falle eines Vertrags über mehrere Waren, die der Verbraucher im Rahmen einer einheitlichen Bestellung bestellt hat und die getrennt geliefert werden sowie im Falle eines Vertrags über die Lieferung einer Ware in mehreren Teilsendungen oder Stücken) in Besitz genommen haben bzw. hat.
          </p>
          <p>Um Ihr Widerrufsrecht auszuüben, müssen Sie uns</p>
          <p>
            BECKER JOEST VOLK VERLAG GmbH & Co. KG <br>
            Bahnhofsallee 5 <br>
            40721 Hilden <br>
            <br>
            Telefon 0 21 03 – 9 07 88 0 <br>
            Fax 0 21 03 – 9 07 88 28 <br>
            E-Mail: info@bjvv.de <br>
          </p>
          <p>
            mittels einer eindeutigen Erklärung (z. B. ein mit der Post versandter Brief, Telefax oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür das beigefügte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist.
          </p>
          <p>
            Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.
          </p>
        </div>
        <div class="col-12">
          <h3 class="col-12 t-bold t-14 text-green m-0 py-2 bt-border {{mode}}">Folgen des Widerrufs</h3>
          <p>Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet. Wir können die Rückzahlung verweigern, bis wir die Waren wieder zurückerhalten haben oder bis Sie den Nachweis erbracht haben, dass Sie die Waren zurückgesandt haben, je nachdem, welches der frühere Zeitpunkt ist.
          </p>
          <p>
            Sie haben die Waren unverzüglich und in jedem Fall spätestens binnen vierzehn Tagen ab dem Tag, an dem Sie uns über den Widerruf dieses Vertrags unterrichten, an LKG Kommissions- und Abrechnungsgesellschaft mbH, An der Südspitze 1–12, 04571 Rötha zurückzusenden oder zu übergeben. Die Frist ist gewahrt, wenn Sie die Waren vor Ablauf der Frist von vierzehn Tagen absenden.
          </p>
          <p>Wir tragen die Kosten der Rücksendung der Waren wie folgt: </p>
          <p>Für Rücksendungen aus Deutschland wird ein Pauschalbetrag in Höhe von 4,95 € erstattet. Für Rücksendungen aus Österreich wird ein Pausschalbetrag in Höhe von 9,95 € erstattet. Sollten Ihnen höhere Rücksendekosten als die Pauschalbeträge entstehen, werden Ihnen diese höheren Kosten erstattet, wenn Sie einen entsprechenden Zahlungsnachweis mit in das Paket hineinlegen.</p>
          <p>Sie müssen für einen etwaigen Wertverlust der Waren nur aufkommen, wenn dieser Wertverlust auf einen zur Prüfung der Beschaffenheit, Eigenschaften und Funktionsweise der Waren nicht notwendigen Umgang mit ihnen zurückzuführen ist.</p>
        </div>
        <div class="col-12">
          <h3 class="col-12 t-bold t-14 text-green m-0 py-2 bt-border {{mode}}">Ausnahmen vom Widerrufsrecht</h3>
          <p>Das Widerrufsrecht besteht nicht bzw. erlischt bei folgenden Verträgen: </p>
          <p> - Verträge zur Lieferung von Zeitungen, Zeitschriften oder Illustrierten mit Ausnahme von Abonnement-Verträgen.</p>
        </div>
        <div class="col-12">
            <h3 class="col-12 t-bold t-14 text-green m-0 py-3 {{mode}}">ENDE DER WIDERRUFSBELEHRUNG</h3>
        </div>
        <div class="col-12">
          <h3 class="col-12 t-bold t-14 text-green m-0 py-2 bt-border {{mode}}">Muster-Widerrufsformular</h3>
          <p>Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und senden Sie es zurück.</p>
          <p>An:</p>
          <p>
            BECKER JOEST VOLK VERLAG GmbH & Co. KG <br>
            Bahnhofsallee 5 <br>
            40721 Hilden<br>
            <br>
            Telefon 0 21 03 – 9 07 88 0<br>
            Fax 0 21 03 – 9 07 88 28<br>
            E-Mail: info@bjvv.de<br>
          </p>
          <p>
            Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag über den Kauf der folgenden Waren (*) / die Erbringung der folgenden Dienstleistung (*)
          </p>
          <p>- Bestellt am (*) / erhalten am (*):</p>
          <p>- Name des/der Verbraucher(s):</p>
          <p>- Anschrift des/der Verbraucher(s):</p>
          <p class="mt-5">
              <span>_____________</span> <span class="ml-4">___________________________________</span>
          </p>
          <p>
            <span class="mr-3">Datum</span> <span class="ml-5">Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier)</span>
          </p>
          <p class="mt-5">(*) Unzutreffendes streichen</p>
        </div>
      </div>
    </div>
  </div>