<div class="wrapper {{mode}} {{mode === 'light'? 'text-blackish' : 'text-white'}}">
  <div class="container pt-3 pb-5">
    <div class="row mt-5 mb-4 t-14 t-reg">
        <div class="col-12 mb-4">
            <h2 class="{{mode === 'light'? 'text-grey' : 'text-white'}}t-light t-26">IMPRESSUM</h2>
        </div>
        <div class="col-12">
          <p>
            BECKER JOEST VOLK VERLAG GmbH & Co. KG<br>
            Bahnhofsallee 5<br>
            40721 Hilden<br>
            Telefon 0 21 03 – 9 07 88 0<br>
            Fax 0 21 03 – 9 07 88 28<br>
            E-Mail: <a href="mailto:info@bjvv.de" class="text-primary"><u>info@bjvv.de</u></a><br>
            Internet: <a href="ww.bjvv.de"><u class="text-primary">www.bjvv.de</u></a><br>
            Registergericht Amtsgericht Düsseldorf<br>
            Registernummer HRA 22734<br>
            Verkehrsnummer 11460<br>
            Finanzamt Hilden<br>
            Steuernummer 135/5905/0545<br>
            USt-IdNr. DE230403678<br>
            Vertreten durch die persönlich haftende Gesellschafterin<br>
            Becker Joest Volk Verwaltungs GmbH<br>
            Bahnhofsallee 5<br>
            40721 Hilden<br>
            Registergericht: Amtsgericht Düsseldorf<br>
            Registernummer: HRB 72786<br>
            Geschäftsführer: Ralf Joest, Andreas Grewe, Johanna Hänichen<br>
            Redaktionelle Verantwortung: Ralf Joest / Johanna Hänichen<br><br>
          </p>
          <h3>Haftungshinweis</h3>
          <p>
             Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links und Foren. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
          </p>
          <h3>Online-Streitbeilegung gemäß Art. 14 Abs. 1 ODR-Verordnung: </h3>
          <p>
            Wir nehmen, im Falle einer ungeklärten Streitigkeit, (freiwillig) an einem Streitbeilegungsverfahren mit einer Verbraucherschlichtungsstelle teil. Die für uns zuständige Verbraucherschlichtungsstelle ist:

            Allgemeine Verbraucherschlichtungsstelle des Zentrums für Schlichtung e. V.<br>

            Straßburger Str. 8<br>
            77694 Kehl<br>
            Telefon: +49 7851 79579 40<br>
            Telefax: +49 7851 79579 41<br>
            Internet: <a href="ww.bjvv.de">www.verbraucher-schlichter.de</a><br>
            E-Mail: <a href="mailto:mail@verbraucher-schlichter.de" class="text-primary"><u>mail@verbraucher-schlichter.de</u></a><br>
            Unsere E-Mail-Adresse lautet: <a href="mailto:info@bjvv.de" class="text-primary"><u>info@bjvv.de</u></a><br>
            Gestaltung dieser Website<br>
            MAKRO CHROMA Joest & Volk OHG, Hilden<br>

            CMS, Datenbank und Programmierung<br>
            netzlab GmbH
          </p>
        </div>
    </div>
  </div>
</div>
