<div class="wrapper {{mode}} {{mode === 'light'? 'text-blackish' : 'text-white'}}">
    <div class="container pt-3 pb-5">
        <div class="row mt-5 mb-4">
            <div class="col-12">
                <h2 class="t-light t-26 {{mode === 'light'? 'text-grey' : 'text-white'}}">QUICKSTARTANLEITUNG</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="col-12 t-bold t-14 text-green m-0 py-2 bt-border {{mode}}">Beginne in „Mein Garten". Aktiviere mindestens eine Liste (Liste +) oder lege eine neue an. </h3>
                <p>
                    <fa-icon class="info-icon" [icon]="faInfo"></fa-icon>
                    Überlege kurz, ob du deinen Garten ggf. unterteilen willst. z. B. Hauptgarten; Vorgarten, Topfpflanzen, Terrassenpflanzen, Gemüse …<br>
                    Du kannst Pflanzen später wieder löschen und einer eigenen Liste hinzufügen. <br>
                    Wenn du magst, kannst du eigene Gartenbilder als Titelbilder hochladen (Kamerasymbol anklicken).
                </p>
            </div>
            <div class="col-12">
                <h3 class="col-12 t-bold t-14 text-green m-0 py-2 bt-border {{mode}}">Erstelle deinen To-Do-Kalender</h3>
                <p>
                    <fa-icon class="info-icon" [icon]="faInfo"></fa-icon>
                    Einfach Pflanzen, die du im Garten hast, unter „Pflanzensuche“ auswählen und in deinem Garten speichern. <br>
                    So entsteht automatisch dein individueller To-do-Kalender fürs Gartenjahr. <br>
                    Alle erforderlichen Pflegeschritte erscheinen jetzt zeitrichtig in deinem To-do-Kalender. <br>
                    Wenn du die To-dos anklickst, erfährst du in kurzen einfachen Worten, was zu tun ist. <br>
                    Gleichzeitig entsteht unter „Mein Garten“ deine Übersicht und Statistik, z. B. über den ökologischen Wert, Giftigkeit und Frostfestigkeit der Pflanzen.
                </p>
            </div>
            <div class="col-12">
                <h3 class="col-12 t-bold t-14 text-green m-0 py-2 bt-border {{mode}}">Du erhältst jetzt automatische Frost- und Sturmwarnungen</h3>
                <p>
                    <fa-icon class="info-icon" [icon]="faInfo"></fa-icon>
                    Nie wieder erfrorene Dahlien, Oleander oder Kräutertöpfe.<br>
                    Bei frostempfindlichen Pflanzen gibt es automatisch eine Frostwarnung (bei Temperaturen unter +3° Celsius in 1 m Höhe im Bereich deiner PLZ). <br>
                    Frost- und sturmempfindliche Ausrüstung wie Dampfstrahler, Wasserschläuche oder Markisen können von dir in der Geräteliste hinzugefügt werden, um Warnungen zu erhalten. Auch Serviceintervalle kannst du speichern.
                </p>
            </div>
            <div class="col-12">
                <h3 class="col-12 t-bold t-14 text-green m-0 py-2 bt-border {{mode}}">Checke deine persönliche gardify-Ökobilanz. </h3>
                <p>
                    <fa-icon class="info-icon" [icon]="faInfo"></fa-icon>
                    Hast du viele ökologisch wertvolle Pflanzen im Garten oder ökologisch sinnvolle Ausrüstung (z. B. Brutkasten, Totholzhaufen, Kompost, Futterstelle), 
                    verändert sich das Icon von „Mein Garten“. Es erscheinen bis zu drei bunte Blüten. Drei Blüten bedeuten „nah am Optimum“, keine Blüte bedeutet „noch viel Luft nach oben“.
                     Zur Verbesserung der Ökobilanz in deinem Garten kannst du weitere Pflanzen anschaffen, die bienen-, insekten-, vogelfreundlich oder anderweitig ökologisch wertvoll sind 
                     oder den Garten anhand der Ökocheckliste vervollständigen.
                </p>
            </div>
            <div class="col-12">
                <h3 class="col-12 t-bold t-14 text-green m-0 py-2 bt-border {{mode}}">Wenn du Pflanzen in deinem Garten nicht kennst, ...  </h3>
                <p>
                    <fa-icon class="info-icon" [icon]="faInfo"></fa-icon>
                    ... einfach die Pflanze fotografieren (am besten relativ nah ran gehen, ruhiger Hintergrund) und Foto über den Pflanzenscan hochladen.
                    Plantnet- und Google-Suche aktivieren, dann auf „Scannen“ klicken.
                    In den meisten Fällen wirst du unter den bebilderten Vorschlägen den richtigen Namen erhalten. Bitte etwas Geduld, das kann etwas dauern!
                    Die Bilder müssen kleiner als 4 MB sein!
                </p>
            </div>
            <div class="col-12">
                <h3 class="col-12 t-bold t-14 text-green m-0 py-2 bt-border {{mode}}">Wenn du Pflanzen nicht in der Pflanzensuche findest ...</h3>
                <p>
                    <fa-icon class="info-icon" [icon]="faInfo"></fa-icon>
                    … kannst du uns über den Button „Pflanze vorschlagen“ einen Hinweis (auch mit Bild möglich) schicken.
                     Wir werden diese Pflanze möglichst bald für dich und andere Gartenfans ergänzen.
                </p>
            </div>
        </div>
    </div>
</div>