@model GardifyModels.Models.PlantSearchViewModel
@using PflanzenApp.HtmlHelpers;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestView</title>
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css">
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
</head>
<body>
    <div>
        <input type="search" id="autocomplete" class="form-control ui-autocomplete"
               data-autocomplete="@Url.Action("Autocomplete", "PlantSearch")" />
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $("#autocomplete").each(createAutocomplete);
    });
    // submits form upon selecting a value
    var submitAutocompleteForm = function (event, ui) {
        var $input = $(this); // the HTML element (Textbox)

        // selected value
        $input.val(ui.item.label); // ui.item.label = the label value (product)

        //updateContent();
    };
    var createAutocomplete = function () {
        var $input = $(this); // the HTML element (Textbox)

        var options = {
            // selecting the source by finding elements with the 'data-' attribute
            source: $input.attr("data-autocomplete"), // Required
            select: submitAutocompleteForm // Optional
        };
        // apply options
        $input.autocomplete(options);
    };

    // targets input elements with the 'data-' attributes and each time the input changes
    // it calls the 'createAutocomplete' function

</script>
