<div class="wrapper {{mode}} {{mode === 'light'? 'text-blackish' : 'text-white'}}">
  <div class="container pt-3 pb-5">
    <div class="row mt-5 mb-4">
        <div class="col-12">
            <h2 class="t-light t-26 {{mode === 'light'? 'text-grey' : 'text-white'}}"> Foto, Videos, Veranstaltungshinweise: Qualitätsansprüche und Verwendung</h2>
        </div>
    </div>
    <div class="row">
      
      <div class="col-12">
        
        <p>User können unentgeltlich eigene Beiträge einreichen und so helfen, die kostenlose Wissensdatenbank auszubauen. Fotos und Videos sollten von einwandfreier Qualität sein. 
          Die Rechte müssen exklusiv bei dir liegen. Mit dem Einreichen erklärst du dich unwiderruflich einverstanden,
           dass deine Bilder, Filme oder Veranstaltungshinweise auf gardify® inhaltlich, zeitlich und räumlich unbegrenzt genutzt werden dürfen.
            Ein Honoraranspruch oder ein Anspruch auf Rückgabe oder Löschung nach Einreichen besteht seitens des Übersenders nicht.
        </p>
        <p>Bilder, Videos und Veranstaltungshinweise können nur übernommen werden, wenn sie in ähnlicher oder besserer Form noch nicht vorliegen und folgenden Ansprüchen genügen:
        </p>
        <ul>
          <li>Der Urheber ist vollständig mit Realnamen angemeldet.</li>
          <li>Die Schärfenebene im Foto ist richtig gelegt; Bild oder Film sind komplett scharf.</li>
          <li>Farbigkeit, Kontrast und Helligkeit entsprechen üblichen Sehweisen.</li>
          <li> Fotos: Die Auflösung beträgt mindestens 640 Pixel kürzeste Seite, jedoch nicht mehr als 3000 Pixel.</li>
          <li> Filme: Die Auflösung von Filmen sollte HD sein. Der Ton soll keine wesentlichen Störquellen (z. B. Wind!) enthalten.</li>
          <li>Im Bild oder Video selbst dürfen keine eigenen Copyright-Hinweise eingebaut sein; wir blenden unsererseits die Copyright-Hinweise unter dem Bild oder Video ein.</li>
          <li>Inhalte und Darstellung müssen sachlich richtig sein.</li>
          <li>Bilder und Filme dürfen keine Persönlichkeitsrechte oder Urheberrechte verletzen.</li>
          <li>Veranstaltungshinweise sollten möglichst umfassend sein und rechtzeitig eingereicht werden.</li>
        </ul>
        <p><strong>Wichtig: </strong>Fotos, Videos und Veranstaltungshinweise bitte immer einzeln an <a class="text-green" href="mailto:team@gardify.de">team@gardify.de</a> einreichen. 
          Inhalte, die größer als 10 MB sind, bitte per <a class="text-green" href="www.wetransfer.de">www.wetransfer.de</a> schicken!</p>
        <p>
          Die redaktionelle Bearbeitung, Kürzung von Bildern und Videos bleibt vorbehalten. Ein Anspruch auf Übernahme besteht nicht.
        </p>
        <p>Vielen Dank für eure Unterstützung!</p>
        <p>Euer gardify®-Team</p>
      </div>
    </div>
  </div>
</div>