.albumgreen{
    height: 25px;
}
.edit{
    height: 5px;
}
.dropdown-list {
    
    top: 6rem!important;
    right: auto!important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #e6e6e6;
    border-radius: .5rem!important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input, select,.text-input {
    padding: 5px !important;
    border: 2px solid #e6e6e6 !important;
     background-color: white !important; 
    border-radius: 0.5rem !important;
}
input,select,.date-input{
    padding: 0px !important;
    border: 0px solid #e6e6e6 !important;
     background-color: rgba(0,0,0,.00) !important; 
   
}
.savebutton{
width: 200px;
}
.content-modal{
   
        width: 600px;
        background-color: black;
        text-align: center;
    
}