.plantHeader.dark{
    background-color:  #323230
}
.plantHeader.light{
    background-color:  #f4f6f9
}

.modal-content.dark label, .modal-content.dark h5 { color: #fff; }

hr {
    margin-left: 0;
    margin-right: 0;
    border-top: 0px;
}
.black.black { background-color:#666666; }
.black.light{background-color: black}
a.underline_onHover:hover{
    text-decoration: underline;
    cursor: pointer;
}

.post-img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}