#regCarousel {
    overflow-y: hidden;
    max-height: 1000px;
}
img.d-block {
    height: 700px;
    object-fit: cover;
}
.carousel-caption {
    text-align: unset;
    bottom: 15%;
}
.BoxReg {
    max-width: 960;
}
.btnProp{
    width: 100%;
    height: 30px;
    line-height: 11pt;
}

.reg-caption.light .BoxReg{
    background-color: rgba(255,255,255,0.8);
}
.reg-caption.dark .BoxReg{
    background-color: rgba(50,50,50,0.8);
}

@media screen and (max-width: 768px) {
    .carousel-caption {
        bottom: -50px;
    }
    img.d-block {
        height: 790px;
    }
}
@media screen and (max-width:425px){
    .btnProp{
        height: 40px;
    }
}