<style>
    a, .green { color: #7a9d34; }
    a:hover { cursor: pointer; }
</style>
<h3>Sehr geehrte Kunde,</h3>

<p>
    Klicke den Link um dein Passwort zurückzusetzen. Dieser ist nur für die nächsten 24 Stunden gültig.
</p>

<a href="@Model.Action_Url" target="_blank">Passwort zurücksetzen</a>

<h3>
    Vielen Dank,
</h3>
<h4>Das gardify-Team</h4>

<p>
    Wenn du Probleme mit der obigen Schaltfläche hast, kopiere die unten stehende URL und füge sie in deinen Webbrowser ein.
</p>
<p class="green">
    @Model.Action_Url
</p>