USE [pflanzenApp07]
GO
/****** Object:  Table [dbo].[TaxonomicTree]    Script Date: 28.07.2016 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxonomicTree](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rootID] [int] NOT NULL,
	[parentId] [int] NOT NULL,
	[plantId] [int] NOT NULL,
	[taxon] [int] NOT NULL,
	[type] [int] NOT NULL,
	[titleLatin] [nvarchar](256) NOT NULL,
	[titleGerman] [nvarchar](256) NULL,
	[createdBy] [nvarchar](256) NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[editedBy] [nvarchar](256) NULL,
	[editedDate] [datetime] NOT NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TaxonomicTree] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TaxonomicTree] ON 

INSERT [dbo].[TaxonomicTree] ([id], [rootID], [parentId], [plantId], [taxon], [type], [titleLatin], [titleGerman], [createdBy], [createdDate], [editedBy], [editedDate], [deleted]) VALUES (1, 0, 0, 0, 0, 1, N'online', N'Test-Systematik', N'CREATED_BY_SYSTEM', CAST(0x0000A5ED00FC06B2 AS DateTime), NULL, CAST(0x0000A5ED00FC06B6 AS DateTime), 0)
INSERT [dbo].[TaxonomicTree] ([id], [rootID], [parentId], [plantId], [taxon], [type], [titleLatin], [titleGerman], [createdBy], [createdDate], [editedBy], [editedDate], [deleted]) VALUES (2, 1, 1, 0, 1, 2, N'Spermatophyta', N'Samenpflanzen', N'CREATED_BY_SYSTEM', CAST(0x0000A5ED00FC06B2 AS DateTime), NULL, CAST(0x0000A5ED00FC06B6 AS DateTime), 0)
INSERT [dbo].[TaxonomicTree] ([id], [rootID], [parentId], [plantId], [taxon], [type], [titleLatin], [titleGerman], [createdBy], [createdDate], [editedBy], [editedDate], [deleted]) VALUES (3, 1, 2, 0, 2, 2, N'Angiospermae', N'Bedecktsamige Pflanzen', N'CREATED_BY_SYSTEM', CAST(0x0000A5ED00FC06B2 AS DateTime), NULL, CAST(0x0000A5ED00FC06B6 AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[TaxonomicTree] OFF
ALTER TABLE [dbo].[TaxonomicTree] ADD  DEFAULT ('CREATED_BY_SYSTEM') FOR [createdBy]
GO
ALTER TABLE [dbo].[TaxonomicTree] ADD  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[TaxonomicTree] ADD  DEFAULT ('EDITED_BY_SYSTEM') FOR [editedBy]
GO
ALTER TABLE [dbo].[TaxonomicTree] ADD  DEFAULT (getdate()) FOR [editedDate]
GO
ALTER TABLE [dbo].[TaxonomicTree] ADD  DEFAULT ((0)) FOR [deleted]
GO
