@model IEnumerable<FileUploadLib.Models.FileUploadResponseMessage>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
@foreach (var response in Model)
{
    @if (response.ResponseCode == -1)
    {
        <div class="alert alert-warning">
            @response.ResponseMessage
        </div>
    }
    else
    {
        <div class="alert alert-dark">
            @response.ResponseMessage
        </div>
    }
}

