
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminArea.cshtml";
}

<h2>AdminArea</h2>
<ul class="nav navbar-nav" >
    <li style="width: 100%;"><a href="~/i/plant">Pflanzendatenbank</a></li>
    <li style="width: 100%;"><a href="~/i/plant-tag">Pflanzeneigenschaften</a></li>
    <li style="width: 100%;"><a href="~/i/plant-tag/ordercategories">Anordnung Pflanzeneigenschaften (Kategorien)</a></li>
    <li style="width: 100%;"><a href="~/i/plant-tag/ordertags">Anordnung Pflanzeneigenschaften (Tags)</a></li>
    <li style="width: 100%;"><a href="~/i/taxonomic-tree">Hierarchiebaum</a></li>
    <li style="width: 100%;"><a href="~/i/faq">FAQ<br /></a></li>
    <li style="width: 100%;"><a href="~/i/news">News</a></li>
    <li style="width: 100%;"><a href="~/i/orders">Bestellungen</a></li>
    <li style="width: 100%;"><a href="~/i/videos">Videos</a></li>
    <li style="width: 100%;"><a href="~/i/shop">Shop</a></li>
    <li style="width: 100%;"><a href="~/i/internalcomment">Kommentare</a></li>
    <li style="width: 100%;"><a href="~/i/garden-category">Gärtnerische Kategorie</a></li>
    <li style="width: 100%;"><a href="~/i/article-categories">Artikel-Kategorien</a></li>
    <li style="width: 100%;"><a href="~/i/eco-elements">Öko-Elemente</a></li>
    <li style="width: 100%;"><a href="~/i/lexicon">Gärtnern von A-Z</a></li>
    <li style="width: 100%;"><a href="~/i/stats/GetUsersStats">Benutzer-Statistik</a></li>
    <li style="width: 100%;"><a href="~/i/stats">Seiten-Statistik</a></li>
    <li style="width: 100%;"><a href="~/i/devices">Geräte</a></li>
    <li style="width: 100%;"><a href="~/i/groups">Gruppe</a></li>
    <li style="width: 100%;"><a href="~/i/plant-doc">Pflanzen-Doc</a></li>
    <li style="width: 100%;"><a href="~/i/warnings">Warnungen</a></li>
    <li style="width: 100%;"><a href="~/i/launchpage">Landing Page</a></li>
    <li style="width: 100%;"><a href="~/i/garden-notes">Garten Note</a></li>
    <li style="width: 100%;"><a href="~/i/points">Points</a></li>
    <li style="width: 100%;"><a href="~/i/content">Synonyme</a></li>
    <li style="width: 100%;"><a href="~/i/todo">Todo-Vorlagen</a></li>
    <li style="width: 100%;"><a href="~/i/account">Benutzer</a></li>
    <li style="width: 100%;"><a href="~/i/import">Importieren</a></li>
</ul>

