@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h3>_Message.cshtml partial view.</h3>

<p>RazorUIClassLib\Areas\MyFeature\Pages\Shared\_Message.cshtml</p>

<form asp-controller="File" asp-action="Post" id="NLFileUploadLibForm">
    <input type="text" name="String" value="Test"/>
    <input type="submit" value="Abschicken" />
    Test
</form>