<ul class="dropdown-list {{mode}} ul-dropdown" >
    <li>
        <div class="d-flex">
            <div class="mr-auto t-bold t-13" > Filter auswählen</div>
            <div> 
                 <span class="t-bold t-13" >
                    &times;
                </span>
        </div>
        </div>
    </li>
    <li>
        <mat-selection-list [disableRipple]="true" #item>
            <mat-list-option >
                Dieses Bild stammt nicht von mir
            </mat-list-option>
            <mat-list-option >
                <img src="assets/images/Unbewertet.svg" class="albumgreen ">Unbewertet
            </mat-list-option>
            <mat-list-option >
                <img src="assets/images/1_Stern.svg" class="albumgreen ">
            </mat-list-option>
            <mat-list-option >
                <img src="assets/images/2_Sterne.svg" class="albumgreen ">
            </mat-list-option>
            <mat-list-option >
                <img src="assets/images/3_Sterne.svg" class="albumgreen ">
            </mat-list-option>
            <mat-list-option >
                <img src="assets/images/4_Sterne.svg" class="albumgreen">
            </mat-list-option>
            <mat-list-option >
                <img src="assets/images/5_Sterne.svg" class="albumgreen">
            </mat-list-option>
        </mat-selection-list>
        
       
    </li>
   <!--  <li>
        <div class="d-flex">
            <div class="mr-auto t-bold t-13" > </div>
            <div>  <span class="t-bold t-13" >
                &times;
            </span></div>
        </div>
    </li>
    <li>
        <div class="d-flex">
            <div class="mr-auto t-bold t-13" > <img src="assets/images/1_Stern.svg" class="albumgreen ml-2"></div>
            <div>  <span class="t-bold t-13" >
                &times;
            </span></div>
        </div>
    </li>
    <li>
        <div class="d-flex">
            <div class="mr-auto t-bold t-13" > <img src="assets/images/2_Stern.svg" class="albumgreen ml-2"></div>
            <div>  <span class="t-bold t-13" >
                &times;
            </span></div>
        </div>
    </li>
    <li>
        <div class="d-flex">
            <div class="mr-auto t-bold t-13" > <img src="assets/images/3_Stern.svg" class="albumgreen ml-2"></div>
            <div>  <span class="t-bold t-13" >
                &times;
            </span></div>
        </div>
    </li>
    <li>
        <div class="d-flex">
            <div class="mr-auto t-bold t-13" ><img src="assets/images/4_Stern.svg" class="albumgreen ml-2"></div>
            <div>  <span class="t-bold t-13" >
                &times;
            </span></div>
        </div>
    </li>
    <li>
        <div class="d-flex">
            <div class="mr-auto t-bold t-13" > <img src="assets/images/5_Stern.svg" class="albumgreen ml-2"></div>
            <div>  <span class="t-bold t-13" >
                &times;
            </span></div>
        </div>
    </li>
    <li>
        <div class="d-flex">
            <div class="mr-auto t-bold t-13" ><button class="btn-green btn text-white">  Filter anwenden</button></div>
            
        </div>
    </li> -->
</ul>
