<div class="wrapper {{mode}} {{mode === 'light'? 'text-blackish' : 'text-white'}}">
    <div class="container pt-3 pb-5">
      <div class="row mt-5 mb-4">
          <div class="col-12">
              <h2 class="{{mode === 'light'? 'text-grey' : 'text-white'}} t-light t-26">COMMUNITY</h2>
          </div>
      </div>
      <div class="row">
        <div class="col-12">
            <p>
                Gern möchten wir euch hier das Gartenforum green-24.de unter 
                <a target="_blank" class="text-green" href="https://green-24.de/forum/index.php">https://green-24.de/forum/index.php</a>
                 ans Herz legen. Hier könnt ihr euch mit unzähligen Gartenfans zu allen wichtigen Themen austauschen. 
            </p>
            <p class="mt-2">gardify®-User sind hier herzlich willkommen!</p>
        </div>
        <div class="col-12">
          <h3 class="col-12 t-bold t-14 text-green m-0 py-2  {{mode}}">Garten- und Pflanzen-News</h3>
          <p>Berichte und Erfahrungen aus der Pflanzen- und Gartenwelt. News und Ratschläge aus der grünen Redaktion.</p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/garten-und-pflanzen-news-f13.html">https://green-24.de/forum/garten-und-pflanzen-news-f13.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team, Frank</span>
        </div>
        <div class="col-12">
          <h3 class="col-12 t-bold t-14 text-green m-0 py-2  {{mode}}">Pflanzen-Magazin</h3>
          <p>Das Pflanzen-Magazin mit umfangreichen Pflanzenbeschreibungen, Anleitungen sowie Tipps rund um die Welt der Pflanzen.</p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/pflanzen-magazin-f44.html">https://green-24.de/forum/pflanzen-magazin-f44.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, Mara23, Rose23611, Wollschweber, Redaktion Magazin</span>
        </div>
        <div class="col-12">
          <h3 class="col-12 t-bold t-14 text-green m-0 py-2  {{mode}}">Pflanzen und Botanik</h3>
          <p>Pflanzen und Botanik? Das Thema Pflanze mit allen Details ...
            Wissenswertes über Gartenpflanzen (Bäume, Sträucher und Stauden), Zimmerpflanzen (Palmen, Tropenpflanzen und exotische Pflanzen), Nutzpflanzen (Früchte, Obst und Gemüse), Wildpflanzen, Sukkulenten und Pilze.
            </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/pflanzen-und-botanik-f1.html">https://green-24.de/forum/pflanzen-und-botanik-f1.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team</span>
        </div>
        <div class="col-12">
          <h3 class="col-12 t-bold t-14 text-green m-0 py-2  {{mode}}">Pflanzenkrankheiten und Schädlinge</h3>
          <p>Krankheit oder Schädling? Braune Blätter, kleine Tiere, was tun ...
            Neben den verbreiteten Schädlingen wie Blattläusen, Spinnmilben, Wollläusen, Schmierläusen, Schildläusen, Thripse, Weißen Fliegen und Trauermücken gibt es auch häufige Pilzerkrankungen wie echten und falschen Mehltau, Rost und Schimmel, die zu Flecken und Schäden an der Pflanze führen. Neben den chemischen Mitteln wie Insektiziden und Fungiziden gibt es auch oft gute Hausmittel zur Bekämpfung der Krankheiten oder Schädlinge. Ein optimaler Standort bezüglich Licht und Boden, die richtige Erde oder ein neues Substrat sowie regelmäßiges Düngen können eine Pflanze stärken und weniger anfällig gegen Schädlingsbefall und Krankheiten machen.
            </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/pflanzenkrankheiten-schaedlinge-f10.html">https://green-24.de/forum/pflanzenkrankheiten-schaedlinge-f10.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team,Frank</span>
          
        </div>
        <div class="col-12">
          <h3 class="col-12 t-bold t-14 text-green m-0 py-2  {{mode}}">Pflegen, Schneiden und Veredeln</h3>
          <p>Richtige Pflanzenpflege, Schneiden und Veredeln … 
            Die richtige Pflege von Pflanzen umfasst das Düngen (welchen Dünger und wie oft düngen), Schneiden (wie schneiden und wann wird geschnitten), Wässern (wieviel Wasser und wie oft gießen), Standort der Pflanze (wieviel Licht oder Schatten), Boden (welche Erde oder Substrate), Überwinterung (wie überwintern und bei welchen Temperaturen, winterhart oder nicht), Veredelung (welche Technik zum Veredeln, Okulieren, Anplatten oder Pfropfen).
            </p>
          <span><a class="d-block" target="_blank" href="green-24.de/forum/pflegen-schneiden-veredeln-f23.html">green-24.de/forum/pflegen-schneiden-veredeln-f23.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team</span>
        </div>
        <div class="col-12">
          <h3 class="col-12 t-bold t-14 text-green m-0 py-2  {{mode}}">Pflanzenbestimmung und Pflanzensuche</h3>
          <p>Pflanzen bestimmen? Wie heißt diese Pflanze? Bestimmung von Pflanzen ganz einfach ...
            Pflanzennamen werden in der Fachsprache oft aus dem Lateinischen abgeleitet und bezeichnen den botanischen Namen. Der botanische Name setzt sich aus Gattung, Art und Sorte zusammen. Die meisten Pflanzen besitzen auch einen deutschen Namen, der sich teilweise aus der lateinischen Übersetzung oder aus dem Volksmund, aber auch aus den Eigenschaften einer Pflanze ergeben hat. Eine Bestimmung ist oft über Bilder von Blättern, Blüten, Früchten, Trieben oder Fotos gesamter Pflanzen am einfachsten.
            </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/pflanzenbestimmung-pflanzensuche-f16.html">https://green-24.de/forum/pflanzenbestimmung-pflanzensuche-f16.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team</span>
        </div>
        <div class="col-12">
          <h3 class="col-12 t-bold t-14 text-green m-0 py-2  {{mode}}">Pflanzenlexikon und Steckbriefe</h3>
          <p>Das Pflanzenlexikon – Steckbriefe, Portraits und Pflegehinweise ...
            In unserem Lexikon der Pflanzen sind die Pflanzenarten alphabetisch sortiert. Es werden alle Pflanzengattungen wie Gartenpflanzen, Zimmerpflanzen und exotische Pflanzen aufgeführt. Zu fast jeder Pflanze gibt es Angaben zum Schneiden (Rückschnitt und Erziehungsschnitt), Wässern (wie viel Wasser und wie oft), Düngen (welcher Dünger und wann muss gedüngt werden), Standort (sonnig, halbschattig oder im Schatten, Licht und Ansprüche), Erde (welcher Boden oder welches Substrat), Krankheiten (bekannte Schädlinge und Erkrankungen, Mittel wie Insektizide und Fungizide sowie Maßnahmen zur Bekämpfung).
            </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/pflanzenlexikon-steckbriefe-f31.html">https://green-24.de/forum/pflanzenlexikon-steckbriefe-f31.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team</span>
        </div>
        <div class="col-12">
          <h3 class="col-12 t-bold t-14 text-green m-0 py-2  {{mode}}">Beliebte Pflanzen und Erfahrungen</h3>
          <p>Beliebte Pflanzen, eigene Erfahrungen, Bilder, Entwicklung und Wünsche ...
            Die bekanntesten oder beliebtesten Pflanzenarten mit Bildern (Fotos von Blüten und Blättern), individuellen Infos zur Pflege, Haltung, Vermehrung und Entwicklung. Welche Erde, welcher Dünger und wie oft, wie viel Licht, Entwicklungsstadien, Tipps und Tricks, Arten und Sorten, Überwinterung und eigene Erfahrungen.
            </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/beliebte-pflanzen-erfahrungen-f51.html">https://green-24.de/forum/beliebte-pflanzen-erfahrungen-f51.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team</span>
        </div>
        <div class="col-12">
          <h3 class="col-12 t-bold t-14 text-green m-0 py-2  {{mode}}">Samen, Anzucht und Vermehrung</h3>
          <p>Vermehrung, Anzucht und Aufzucht von Pflanzen ...
            Vermehrungsarten (wie kann ich eine Pflanze vermehren), Saatgut (in welcher Erde, wie zur Keimung bringen, Samen ernten), Aussaat (wann aussäen, Temperatur zum Keimen, wie viel Licht und Luftfeuchtigkeit, welches Wasser und wie oft gießen), Pikieren (wann teilen, Wurzeln trennen und vereinzeln, wie und wann umpflanzen), Stecklinge (wann schneiden und wie anschneiden), Anzucht (welches Substrat, im Gewächshaus oder Freiland), Düngen von jungen Pflanzen, Blüte und Frucht (wann kommt das erste Blatt, die erste Blüte oder Früchte).
            </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/samen-anzucht-vermehrung-f5.html">https://green-24.de/forum/samen-anzucht-vermehrung-f5.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team</span>
        </div>
        <div class="col-12">
          <h3 class="col-12 t-bold t-14 text-green m-0 py-2  {{mode}}">Anleitungen Saatgut, Samen und Sorten</h3>
          <p>Anleitungen zur Aussaat von Samen, Saatgutbeschreibungen sowie Hilfe zur Pflege während der Anzucht der jungen Pflanzen ...
            Falls Du Bilder, Erfahrungen mit Erden, Substraten und weitere Tipps zu den einzelnen Sämereien hast, so freuen wir uns auf Deine Angaben. Melde Dich zum Schreiben an.
            </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/anleitungen-saatgut-samen-sorten-f37.html">https://green-24.de/forum/anleitungen-saatgut-samen-sorten-f37.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber</span>
        </div>
        <div class="col-12">
          <h3 class="col-12 t-bold t-14 text-green m-0 py-2  {{mode}}">Keimzeiten und Wartezeiten</h3>
          <p>Die Dauer bis zum Keimen, Bewurzelung und Fruchtbildung bei Samen, Stecklingen und Rhizomen ...
            Wann keimt es, wann bilden sich Wurzeln bei Saatgut, Steckling und Rhizom? Zeiten für die Aussaat, Bedingungen und Lichtverhältnisse sowie genutzte Substrate, Erden und Zuschlagsstoffe.
            </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/keimzeiten-wartezeiten-f19.html">https://green-24.de/forum/keimzeiten-wartezeiten-f19.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team</span>
        </div>
        <div class="col-12">
            <h3 class="col-12 t-bold t-14 text-green m-0 py-2 {{mode}}">Natur und Umwelt</h3>
            <p>Alles von Biologie bis Zytologie, Natur und Umwelt, neue Energien, Ökologie ...
                Im Forum für Natur und Umwelt werden viele Themen von Biologie bis zur Zytologie behandelt, dazu neue Energien und Ökologie.
                </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/natur-26amp-umwelt-f2.html">https://green-24.de/forum/natur-26amp-umwelt-f2.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team</span>
        </div>
        <div class="col-12">
            <h3 class="col-12 t-bold t-14 text-green m-0 py-2 {{mode}}">Gartenplanung und Gartengestaltung</h3>
            <p>Planung und Gestaltung, Ideen und Technik, Beispiele, wie wird es gemacht ...
                Von der Gartenplanung bis zur fertigen Gartengestaltung mit Beispielen zur Entstehung und Integration technischer Ideen. Steuerungstechnik, Automatisierung und Gartenroboter, Bewässerungsanlagen und Rasenroboter. Ob Neugestaltung, Umgestaltung, moderne oder historische Gartenanlagen.
                </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/gartenplanung-gartengestaltung-f4.html">https://green-24.de/forum/garten-und-pflanzen-news-f13.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team</span>
        </div>
        <div class="col-12">
            <h3 class="col-12 t-bold t-14 text-green m-0 py-2 {{mode}}">Teichbau und Wassergarten</h3>
            <p>Ich baue einen Teich, Springbrunnen, Wasserspiel ...
                Wasser im Garten ist schon seit Jahrhunderten ein Element in der Gestaltung. Ob als Zierteich, Fischteich, Schwimmteich oder Brunnenanlage. Einen besonderen Reiz macht bewegtes Wasser in Form von Quellen, Fontänen, Wasserfällen oder Bachläufen aus. Hier gibt es Rat und Tipps zu Bau, Technik und der Gestaltung eigener Wasserwelten.
                </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/teichbau-wassergarten-f22.html">https://green-24.de/forum/teichbau-wassergarten-f22.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team</span>
        </div>
        <div class="col-12">
            <h3 class="col-12 t-bold t-14 text-green m-0 py-2 {{mode}}">Tiere und Tierwelt</h3>
            <p>Alles über Hunde, Katzen, Vögel, Fische, Reptilien, Amphibien, Insekten ...
                Die Fauna ist ein sehr umfangreiches Thema. Hier gibt es überwiegend Infos zu den heimischen Tierarten und beliebten Haustierarten. Fragen und Antworten zu Haltung, Pflege, Gesundheit und Ernährung sowie tierische Impressionen.
                </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/tiere-und-tierwelt-f33.html">https://green-24.de/forum/tiere-und-tierwelt-f33.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team</span>
        </div>
        <div class="col-12">
            <h3 class="col-12 t-bold t-14 text-green m-0 py-2 {{mode}}">Tipps und Tricks</h3>
            <p>Tipps und Tricks für Haus und Garten...
                Hilfe und Beispiele für die alltäglichen Projekte, kleine und große Probleme mit der Natur und Technik.
                </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/tipps-und-tricks-f3.html">https://green-24.de/forum/tipps-und-tricks-f3.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team</span>
        </div>
        <div class="col-12">
            <h3 class="col-12 t-bold t-14 text-green m-0 py-2 {{mode}}">New GREENeration</h3>
            <p>Ob Frage, Sachbericht, Referat, Aufsatz oder Studium ... Alles wird grün werden ...
                In den Fachbereichen der Biologie und in der Ausbildung zum Gärtner ist die Botanik ein umfassendes Thema. Wir helfen bei Lösungsansätzen und Fachbegriffen.
                </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/new-greeneration-f27.html">https://green-24.de/forum/new-greeneration-f27.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team</span>
        </div>
        <div class="col-12">
            <h3 class="col-12 t-bold t-14 text-green m-0 py-2 {{mode}}">Treffpunkt und Stammtisch</h3>
            <p>Für alle Garten- und Pflanzenfreunde. Gute Gespräche führen, nette Leute treffen ...
                Wer Freude an Pflanzen und am Gärtnern hat, ist in unserem Treffpunkt herzlich willkommen. Hier treffen sich nette Leute und tauschen sich aus.
                </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/treffpunkt-stammtisch-f11.html">https://green-24.de/forum/treffpunkt-stammtisch-f11.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team</span>
        </div>
        <div class="col-12">
            <h3 class="col-12 t-bold t-14 text-green m-0 py-2 {{mode}}">INFOS ZUM FORUM</h3>
            <p>Regeln, Neuigkeiten zum Forum, Hilfe, sowie Kurzinfos für alle nicht registrierten User. Und der Prämien-Shop. Bitte lesen...
                Um alle Funktionen unserer Foren zu verstehen gibt es hier die Anleitungen und den Support für die wichtigsten Fragen zur Bedienung und Technik.
                </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/infos-zum-forum-f12.html">https://green-24.de/forum/infos-zum-forum-f12.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team, Frank, GREEN24-Club</span>
        </div>
        <div class="col-12">
            <h3 class="col-12 t-bold t-14 text-green m-0 py-2 {{mode}}">Wohnen und Einrichten</h3>
            <p>Bauen, umbauen, einrichten und dekorieren. Über Häuser, Wohnungen, Technik und Design... <br>
                Auf der Suche nach Gemütlichkeit mögen die meisten Menschen zunächst an ihre eigenen vier Wände denken. Umso wichtiger, dass die eigene Wohnung oder das eigene Haus so eingerichtet ist, dass es der persönlichen Lebensart entspricht.
                </p>
            <p>Gemütlichkeit mit Deko-Ideen <br>
                Wer gerne zweckmäßig lebt wird es schwer haben, Gemütlichkeit in das Wohnzimmer oder das Schlafzimmer zu zaubern. Das Einrichten ist nicht immer eine Frage von Nützlichkeit. Kleine Objekte wie Vasen oder Bilderrahmen lockern jeden Raum auf. Auch im Schlafzimmer verleihen persönliche Gegenstände dem Raum ein individuelles Design. Man sollte beim Einrichten darauf achten, die Gegenstände und Möbel möglichst miteinander harmonierend auszuwählen. Für entsprechende Wohnideen stehen in jedem Möbelhaus auch immer Experten zur Verfügung, die über Farben und Materialien gut Bescheid wissen.
                </p>
            <p>Gemütlichkeit durch Pflanzen <br>
                Insbesondere im Sommer tut es dem eigenen Wohlbefinden gut, viel Zeit im Freien zu verbringen. Natürlich ist das nur dann möglich, wenn man über einen Balkon oder eine Terrasse verfügt. Wer das Glück hat und einen Wintergarten sein Eigen nennt, kann sogar die kalten Tage im Grünen verbringen. Die Trends beim Wohnen entsprechen immer mehr dem Verlangen nach Natürlichkeit. Pflanzen spielen dabei tatsächlich nicht nur auf dem Balkon eine große Rolle. Auch im Haus oder in der Wohnung lockern sie die Atmosphäre auf und vermitteln Wohnlichkeit. In der Küche lassen sich durch selbst angepflanzte Kräuter auf der Fensterbank schnell Trends und Nützlichkeit verbinden.
                </p>
            <p>Die Gegebenheiten nutzen <br>
                Nicht jede Wohnung oder jedes Haus ist mit einer besonderen und dankbaren Architektur gesegnet. Die Kunst besteht darin, so kreativ zu sein, dass selbst unglückliche Gegebenheiten gemütlich und individuell werden. Wer das Glück hat und das Bauen selbst übernimmt, sollte hinsichtlich der Architektur auch eine später veränderte Lebensart berücksichtigen.
                </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/wohnen-einrichten-f54.html">https://green-24.de/forum/wohnen-einrichten-f54.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, Mara23, Elfensusi, Rose23611, Wollschweber</span>
        </div>
        <div class="col-12">
            <h3 class="col-12 t-bold t-14 text-green m-0 py-2 {{mode}}">Basteln, Deko und Co.</h3>
            <p>Do it yourself, Deko, Basteln, Werkeln und Co. 
                Was man alles basteln und werkeln kann, wird in diesem Forum berichtet. Do it yourself mit vielen Beispielen und Tipps. Deko für Haus und Garten.
                </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/basteln-deko-co-f14.html">https://green-24.de/forum/basteln-deko-co-f14.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team, Frank</span>
        </div>
        <div class="col-12">
            <h3 class="col-12 t-bold t-14 text-green m-0 py-2 {{mode}}">Kochen, Backen und Rezepte</h3>
            <p>Kochen mit Zutaten aus Garten und Natur, Pflanzen, Früchte, Kräuter- und Salatgerichte ...
                Natürliches Kochen und Backen mit schönen Rezepten und Zutaten aus Garten und Natur. Früchte, ausgefallene Kräuter und Salate.
                </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/kochen-backen-rezepte-f25.html">https://green-24.de/forum/kochen-backen-rezepte-f25.html</a></span>
          <span class="text-green col-12"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team</span>
        </div>
        <div class="col-12">
            <h3 class="col-12 t-bold t-14 text-green m-0 py-2 {{mode}}">Termine, Reisen und Urlaub</h3>
            <p>Termine, Messen, Garten- und Pflanzenreisen, Gärten und Parks, Reiseziele, Reiseberichte ...
                Die schönsten Reiseziele für Garten- und Pflanzenfreunde. Termine zu Ausstellungen und Messen mit Reiseberichten.
                </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/termine-reisen-urlaub-f28.html">https://green-24.de/forum/termine-reisen-urlaub-f28.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team</span>
        </div>
        <div class="col-12">
            <h3 class="col-12 t-bold t-14 text-green m-0 py-2 {{mode}}">Bücher und Literatur</h3>
            <p>Buchvorstellungen und Rezensionen zu Büchern, Empfehlungen ...
                Ausgefallene und lesenswerte Bücher, schöne Literatur über Pflanzen und Gärten mit Buchvorstellungen und Rezensionen.
                </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/buecher-literatur-f35.html">https://green-24.de/forum/buecher-literatur-f35.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team</span>
        </div>
        <div class="col-12">
            <h3 class="col-12 t-bold t-14 text-green m-0 py-2 {{mode}}">Dokumentationen und Berichte in den Medien</h3>
            <p>Filme und Videos, Berichte und Dokumentationen über Pflanzen, Gärten und die Natur...
                Filme über Gärten, Pflanzen und Natur in Form von Berichten und Dokumentationen. Videos zu aktuellen Themen.
                </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/filme-videos-tv-f40.html">https://green-24.de/forum/filme-videos-tv-f40.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber</span>
        </div>
        <div class="col-12">
            <h3 class="col-12 t-bold t-14 text-green m-0 py-2 {{mode}}">Aus aller Welt und Off Topic</h3>
            <p>Für alle Themen und Beiträge, auch mit nicht grünen Inhalten ...
                Das Forum für alle anderen Themen wird auch Off Topic genannt. Hier ist Platz für alles, was sonst noch nicht thematisch passt.
                </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/aus-aller-welt-off-topic-f20.html">https://green-24.de/forum/aus-aller-welt-off-topic-f20.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>gudrun, Roadrunner, daylily, Mara23, Elfensusi, Rose23611, Wollschweber, Green-Team</span>
        </div>
        <div class="col-12">
            <h3 class="col-12 t-bold t-14 text-green m-0 py-2 {{mode}}">Pressemitteilungen aus der Pflanzen- und Gartenwelt</h3>
            <p>News, Vorstellungen und Pressemitteilungen über Firmen und Produkte ...
                Infos und Pressemitteilungen aus der Pflanzen- und Gartenwelt, über Firmen und Produkte.
                </p>
          <span><a class="d-block" target="_blank" href="https://green-24.de/forum/presse-mitteilungen-pflanzen-und-gartenwelt-f42.html">https://green-24.de/forum/presse-mitteilungen-pflanzen-und-gartenwelt-f42.html</a></span>
          <span class="text-green col-12 t-11"><strong>Moderatoren: </strong>Roadrunner</span>
        </div>
        <div class="col-12 mt-4">
            <p>Wir bitten euch, die Regeln und Gepflogenheiten im Forum zu beachten. 
            Regeln und Beiträge dieses Forums werden ausschließlich über <a class="text-green" target="_blank" href="https://Green-24.de">Green-24.de</a> gepflegt und administriert. Für die Inhalte übernehmen wir daher keinerlei Haftung. </p>
        </div>
      </div>
    </div>
  </div>